<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Daily Report System</title>
    <link rel="stylesheet" th:href="@{/css/employee/list.css}">
</head>
<body>
    <h1>日報管理システム</h1>
    <h2>従業員 一覧</h2>
    <form name="frm" method="post" th:action="@{/Employee/list}">
    <table>
        <tr>
            <th>社員番号</th>
            <th>氏名</th>
            <th>操作</th>

        </tr>
        <tr th:each="employee : ${employeelist}">
            <td th:text="${employee.authentication.code}"></td>
            <td th:text="${employee.name}"></td>
            <td>
                <a th:href="@{/employee/detail/{id}/(id=${employee.id})}">詳細を見る</a>
            </td>
        </tr>
    </table>
    <P th:text="'（全' + ${employeelist.size} + '件）'"></p>
</form>
    <a th:href="@{/employee/register}">新規従業員の登録</a>
    <script th:src="@{/js/employee/list.js}"></script>
</body>
</html>