@charset "UTF-8";

table {
    border-collapse: collapse;
}

th, td {
    border: solid 1px black;
    padding: 10px 20px;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}